
body {
	width: 900px;
	margin: 0 auto;
	font-family: Verdana, "Lucida Grande", Arial, Geneva, sans-serif;
	background-color: #fefefe;
	color: #060606;
	font-size: 12px;
	line-height: 1.5;
	overflow-y: scroll;
}

a {
	color: #900000;
}

h1 {
	text-align: center;
}

section h1 {
	text-align: left;
}

section h2 {
	text-align: left;
	font-size: 14px;
}

section {
	padding: 0 10px;
}

nav a {
	font-weight: 600;
	font-size: 11px;
	color: #696d6e;
}

nav a:active {
	color: #0bb9ff;
}


nav img {
	border: 0;
}

nav ul {
	float:right;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	margin: 0px 5px;
	display: inline;
}


.genericlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.clearb {
	clear:both;
}

.thumbs {
	margin: 0;
	padding: 0;
}


.thumbs img {
	padding: 15px;
	margin: 5px;
}

.thumbs li {
	margin: 0;
	padding: 0;
}

.micro {
	margin: 0;
	padding: 0;
}

.micro li {
	margin: 0;
	padding: 0;
}

.micro img {
	padding: 1px;
	margin: 1px;
}

.maillink {
	color: #900000;
}

.large_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.links {
	float: left;
	width: 45%;
}

#navline {
	width: 900px;
}

#klubben {
	width: 45%;
	float: left;
	margin: 0;
}

#stander {
	float: left;
	margin: 0 10px;
}

#gallerilist {
	list-style: none;
	margin: 0;
}

#gallerilist li {
	display: inline;
}

#gallerilist img {
	cursor: pointer;
}