
body {
	font-family: Verdana, "Lucida Grande", Arial, Geneva, sans-serif;
	background-color: #fefefe;
	color: #060606;
	font-size: 12px;
	line-height: 1.5;
	overflow-y: scroll;
        padding: 15px;
}

a {
	color: #900000;
}

h1 {
	text-align: center;
}

section h1 {
	text-align: left;
}

section h2 {
	text-align: left;
	font-size: 18px;
}

section {
	padding: 0 10px;
}

.genericlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

#navbar-image {
    padding: 0px;
    margin: 0px;
    max-width: 150px;
    border: 0;
}

#galleri {
    max-width: 900px;
}

.portfolio .thumbnail {
    position: relative;
}

.portfolio .thumbnail:hover {
    cursor: pointer;
}

.portfolio .caption {
    bottom: 0;
    position: absolute;
}

.portfolio .btn {
    opacity: 0.75;
}